.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: rgb(18, 18, 18);
  padding: 0;
  margin: 0;
}
.li {
  text-decoration: none;
  color: grey;
}
.active {
  color: whitesmoke;
}
